<%= link_to user_post_path(post.author, post) do %>
  <div class="rounded-lg bg-slate-50 w-full p-4">
    <h2 class="text-lg mb-1"><%= post.title %></h2>
    <p class="text-gray-600"><%= post.text %></p>
    <div class="flex divide-x gap-x-2 mt-4">
      <div>
        <%= render layout: "shared/tag" do %>
          <%= pluralize(post.comments_counter, 'Comment') %>
        <% end %>
        <%= render layout: "shared/tag" do %>
          <%= pluralize(post.likes_counter, 'Likes') %>
        <% end %>
      </div>
      <div class="pl-2">
        <%= render partial: 'likes/form', locals: { post_id: post.id } %>
      </div>
    </div>
  </div>
<% end %>
