<!DOCTYPE html>
<html>
  <head>
    <title>Blograils</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="absolute left-4 top-3 text-sm">
      <% if notice %>
        <div class="py-2 px-4 rounded bg-sky-100 text-sky-600 w-96 relative overflow-hidden before:absolute before:left-0 before:top-0 before:h-full before:w-1 before:bg-sky-500"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="py-2 px-4 rounded bg-rose-100 text-rose-600 w-96 relative overflow-hidden before:absolute before:left-0 before:top-0 before:h-full before:w-1 before:bg-red-500"><%= alert %></div>
      <% end %>
    </div>
    <main class="container mx-auto my-28">
      <%= yield %>
    </main>
  </body>
</html>
